/* ASIDE NOV 25 2020 */

.aside {
	width: 100;
	margin-right: auto;
	margin-left: auto;
}

.aside_title {
	margin-right: 5px;
	margin-left: 5px;
	width: 100%;
}

.aside_content {
	margin-right: 5px;
	margin-left: 5px;
	width: 100%;
	& .table_container {
		overflow-x: scroll;
	}
	& .tbl {
		width: auto;
	}
}
