/* CHAPTER OPENER */

.co_header {
	padding: 82px 6%;
}

.quote_text {
	padding: 18px 4% 0px;
}

.co_intro {
	flex-direction: column;
	padding: 32px 8%;
}

.co_text {
	width: 100%;
}

.co_aside {
	width: 100%;
	padding: 5% 10%;
}
