/* SECTIONS */
.section-header {
	& h1 {
		text-align: center;
		flex-direction: column;
	}
	& .sec_number {
		margin-right: auto;
		margin-left: auto;
	}
}

.section-lead p {
	width: 90%;
	max-width: none;
	margin-left: auto;
	margin-right: auto;
}
