/* CHAPTER OPENER */

section.co {
	background-color: #191c23;
	background-image: url(../Images/section-seperator2.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	color: #ffffff;
	padding-bottom: 92px;
}

.co_header {
	width: 100%;
	padding: 122px 0px;
	text-align: center;
	color: #ffffff;
	background-image: url(../Images/header-classroom.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	background-color: #323847;
}

#co_header_ch1 {
	background-image: url(../Images/1.0_chopener.jpg);
}

#co_header_ch2 {
	background-image: url(../Images/2.0_chopener.jpg);
}

#co_header_ch3 {
	background-image: url(../Images/3.0_chopener.jpg);
}

#co_header_ch4 {
	background-image: url(../Images/4.0_chopener.jpg);
}

#co_header_ch5 {
	background-image: url(../Images/5.0_chopener.jpg);
}

#co_header_ch6 {
	background-image: url(../Images/6.0_chopener.jpg);
}

#co_header_ch7 {
	background-image: url(../Images/7.0_chopener.jpg);
}

#co_header_ch8 {
	background-image: url(../Images/8.0_chopener.jpg);
}

#co_header_ch9 {
	background-image: url(../Images/9.0_chopener.jpg);
}

#co_header_ch10 {
	background-image: url(../Images/10.0_chopener.jpg);
}

#co_header_ch11 {
	background-image: url(../Images/11.0_chopener.jpg);
}

h1 .ct_number {
	font-size: 72px;
	font-family: 'RobotoRegular', sans-serif;
	color: #ffffff;
}

h2 .ct_title {
	font-family: 'RobotoRegular', sans-serif;
	font-size: 36px;
	line-height: 40px;
	color: #ffffff;
}

.seperator {
	border-top: 3px solid #c92b56;
	width: 80px;
	height: 40px;
	margin: 40px auto 0 auto;
	text-align: center;
}

.co_quote {
	text-align: left;
	padding: 20px 0 122px;
	margin-bottom: 32px;
	background-color: #323847;
	background-image: url(../Images/section-seperator1.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	color: #ffffff;
}

.quote_text {
	color: #ffffff;
	font-size: 36px;
	font-weight: 200 !important;
	display: block;
	padding: 18px 18px;
	text-align: center !important;
}

.quote_cite {
	/*font-weight: bold;*/
	font-style: italic;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	float: right;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-top: 5px;
}

.co_intro {
	display: flex;
	flex-direction: row;
}

.co_text {
	width: 100% !important;
	flex-basis: auto;
	padding: 0 6%;
	p.txt,
	p.key-point {
		color: white;
		margin-left: 0;
		margin-right: 0;
	}
}

.co_intro .co_text_here {
	width: 100% !important;
	flex-basis: auto;
	padding: 0 6%;
	margin-left: 0;
	margin-right: 0;
	color: white !important;
}

.co_intro .co_text_here p {
	color: white !important;
}

.co_intro .co_text_here .tx {
	color: white !important;
	padding: 0 12%;
}

.co_aside {
	width: 50%;
	flex-basis: auto;
}

.co_aside_cr {
	color: white;
	font-size: 12px;
	text-align: right;
	margin-top: 4px;
	margin-right: 4px;
}
