/* HEADERS */

h2,
h3,
h4,
h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	hyphens: none;
}

h1 {
	font-family: 'RobotoRegular', sans-serif;
	font-size: 62px;
	font-weight: 400;
}

.h1_fm {
	font-size: 36px;
}

h2 {
	font-size: 34px;
	font-weight: 500;
}

h3,
h3.h3 {
	font-size: 30px;
	font-weight: 400;
	margin: 0px 0px 12px;
	margin-left: $mainColumn;
	margin-right: $mainColumn;
	padding-top: 8px;
	border-bottom: 2px solid #ddd;
	padding-bottom: 4px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
}

h2.h2 {
	padding: 12px 8px;
	color: #484848;
	clear: both;
	width: 95%;
	margin: 32px auto;
	text-align: center;
	border-bottom: 3px solid #c92b56;
}

h4.h4 {
	font-size: 32px;
	font-family: Cambria;
	margin-bottom: 1%;
	margin-top: 1%;
	text-align: center;
}
