/* HEADERS */

.h2 {
  font: {
    size: 34px;
    weight: 500;
  }
  padding: 12px 8px;
  color: gray(five);
  clear: both;
  width: 95%;
  margin: 32px auto;
  text-align: center;
  border-bottom: 3px solid red(medium)
}

.h3 {
  font: {
    size: 30px;
    weight: 400
  }
  margin: {
    top: 0;
    bottom: $mb;
    left: $mainColumn;
    right: $mainColumn;
  }
  padding: {
    top: 8px;
    bottom: 4px;
  }
  border-bottom: 2px solid gray(three)
}

.h4 {
  font: {
    family: Cambria, serif;
    size: 32px
  }
  margin: {
    top: 1%;
    bottom: 1%;
  }
  text-align: center;
}