/* NEW TABLES */

.table_container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

table {
	border-collapse: collapse;
	border: none;
	font-family: 'Lato', sans-serif;
}

.tbl {
	flex: 0 0 auto;
	width: 75%;
}

.tbl_name {
	flex: 0 0 auto;
	width: 25%;
	font-size: 16.2px;
	color: #3b5038;
	text-align: right;
	margin-top: 0;
	line-height: 1.2;
	padding-right: 15px;
}

.tbl_number {
	position: relative;
	font-weight: bold;
	color: #3b5038;
}

.tbl_number:before {
	position: absolute;
	top: 0.225em;
	left: -0.6em;
	content: '';
	display: block;
	width: 0.35em;
	height: 0.7em;
	background-color: #3b5038;
	border-radius: 0.35em 0 0 0.35em;
}

.tbl_title {
	color: #2c3643;
	font-size: 16px;
	font-weight: 400;
}

.tbl_subtitle {
	color: #2c3643;
	font-size: 10pt;
}

td {
	font-size: 14px;
}

td.border {
	border: 1px solid #a6a5a5;
}

tfoot.no-border > tr > td {
	border: none !important;
	padding-left: 0em;
	background: none !important;
}

td,
th {
	border: 1px solid #a6a5a5;
	padding: 0.25em 0.5em;
	vertical-align: top;
	background: #fff;
	font-family: 'Lato', sans-serif;
}

th.no_border {
	font-weight: normal;
	text-align: left;
	font-size: 14px;
	border: none;
	padding-left: 0px;
	padding-bottom: 10px;
}

td.no_border {
	font-weight: normal;
	text-align: center;
	font-size: 14px;
	border: none;
	padding-left: 0px;
	padding-bottom: 10px;
}

.no_left_border_td   /*no left border for td into table*/ {
	border-left: none;
	padding-left: 0px;
}

.no_right_border_td  /*no right border for td into table*/ {
	border-right: none;
}

.tbl_header th,
.tbl_header td,
.tbl_subheader th,
.tbl_subheader td {
	background-color: #484848;
	color: #ffffff;
	font-weight: bold;
}

tr:nth-child(even) td.table-cell {
	background-color: #fff;
}

/* lists in tables */
td ol,
td ul {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 12px 24px;
	font-size: 14px;
}

td li {
	font-size: 14px;
}
