/* PART */

.parts_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #333947;
	color: #ffffff;
	margin-bottom: 60px;
	padding: 50px 16%;
}

.header_number {
	background-color: #c92a56;
	color: #ffffff;
	margin: 0;
	padding: 20px 30px;
}

.header_char {
	display: block;
	margin: 0;
	font-size: 16px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.header_digit {
	display: block;
	margin: 0;
	font-weight: 500;
	font-size: 72px;
	line-height: 52px;
	text-align: center;
}

.header_title {
	margin: 0;
	font-weight: 700;
	font-family: RobotoRegular;
	font-size: 48px;
	line-height: 58px;
	color: #ffffff;
	width: 90%;
	max-width: 525px;
}

.parts_list {
	margin: 0;
	padding: 0;
}

.part {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	background-color: #f1f1f1;
	margin-top: 0;
	margin-bottom: 60px;
	padding: 20px 16%;
	& .part_img {
		flex: 0 0 auto;
		width: 48%;
		display: block;
		align-self: center;
	}
	& .part_text {
		flex: 0 0 auto;
		width: 48%;
		display: block;
	}
}

.part:nth-of-type(odd) {
	flex-direction: row;
	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	width: 0;
	// 	height: 0;
	// 	border-width: 0 39px 275px 0;
	// 	border-color: transparent white transparent transparent;
	// 	border-style: solid;
	// }
}

.part:nth-of-type(even) {
	flex-direction: row-reverse;
	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 0;
	// 	height: 0;
	// 	border-width: 0 0 275px 39px;
	// 	border-color: white transparent transparent white;
	// 	border-style: solid;
	// }
}

.part_title {
	color: #c92b56;
	font-family: RobotoBold;
	font-size: 1.5rem;
	word-break: keep-all; /*newly added*/
}
