/* SECTIONS */

.section-header {
	padding: 22px 16% 22px;
	margin-top: -12px;
	border-top: 8px solid #ddd;
	& h1 {
		display: flex;
		flex-direction: row;
		margin-bottom: 0;
		padding-bottom: 0.25em;
		font-family: 'RobotoRegular', sans-serif;
	}
	& .sec_title {
		display: block;
		font-size: 38px;
		line-height: 1.2;
		margin-top: 0;
		padding: 12px 8px 15px 8px;
	}
	& .sec_number {
		display: block;
		flex: 0 0 auto;
		width: 110px;
		padding: 12px 8px 15px 8px;
		margin-top: 0;
		font-size: 32px;
		font-weight: 800;
		text-align: center;
		background-color: #c92a56;
		color: #fff;
	}
}

h2.focus {
	position: relative;
	background-color: #fff;
	text-align: center;
	padding: 32px 32px 64px;
	box-shadow: 2px 2px 6px #ddd;
	margin-top: 24px;
}
.focus_lbl {
	display: block;
	background-image: url(../Images/focus-question.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 102px;
	margin: -60px 0px 24px;
	width: 100%;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
	color: #c92b56;
}
.focus_q {
	font-size: 32px;
	font-weight: 300 !important;
}
.section-lead {
	padding: 132px 0px 62px;
	border-radius: 4px;
	background-color: #ffffff;
	background-image: url(../Images/section-seperator3.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.section-lead p,
.section-lead ol,
.section-lead ul {
	margin-left: auto;
	margin-right: auto;
	width: 58%;
	max-width: 576px;
	background-color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.3;
	text-align: center;
}
.section-lead p.intro {
	font-size: 32px !important;
}
