/* TABLES */

table {
	border-collapse: collapse;
	border: none;
	font-family: 'Lato', sans-serif;
}

td,
th {
  font-size: 14px;
  padding: 0.25em 0.5em;
  border: 1px solid gray(four);
  vertical-align: top;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
}

/* table headers */ 

.table__head,
.table__subhead {
  & th, td {
    background-color: gray(five);
    color: #ffffff;
    font-weight: bold;
  }
}

[scope="th"] {
  font-weight: bold;
}

/* remove borders */ 
.td--no-border,
.th--no-border {
  border: none;
  &-right {
    border-right: none;
    padding-right: 0px;
  }
  &-left {
    border-left: none;
    padding-left: 0px;
  }
}

.tr--no-border {
  & td {
    border: none;
  }
  & th {
    border: none;
  }
}

.tfoot--no-border {
  & td {
    border: none;
  }
}







