/* TEXT */

.txt {
  font: {
    size: 16px;
    weight: 400;
    style: normal;
  }
  line-height: 1.4;
  margin: {
    top: 0;
    bottom: 1em;
    left: $mainColumn;
    right: $mainColumn;
  }
}

.ext {
  font: {
    size: 16px;
    weight: 400;
    style: normal;
  }
  margin: {
    top: 0;
    bottom: 1em;
    left: ($mainColumn + 5);
    right: ($mainColumn + 5);
  }
}

.keypoint {
  font: {
    size: 26px;
    font-weight: 300;
  }
  margin: {
    top: 0;
    bottom: 1em;
    left: $mainColumn;
    right: $mainColumn;
  }
  & strong {
    font-weight: bold;
  }
}

.keyterm {
  font-weight: bold;
}

small,
.text_small {
	font-size: 0.889em;
}

.link {
	text-decoration: none;
	color: #2f402d;
	border-bottom: dotted 1.5px #2f402d;
	transition: border-bottom-style 0.27s;
  word-break: break-word;
  &:hover {
    border-bottom-style: solid;
  }
}