/* ARTICLE */ 

.article {
  width: 100%;
  &__header {
    text-align: center;
    width: 100%;
  }
  &__title {
    display: inline-block;
    font: {
      size: 24px;
      weight: bold;
    }
  }
  &__subtitle {
    display: inline-block;
    font: {
      size: 24px;
      weight: light;
    }
  }
  &__content {
    width: 100%;
    padding: {
      top: 30px;
      bottom: 30px;
      right: $mainColumn;
      left: $mainColumn;
    }
  }
}
