/* ASIDE - NOV 24 2020 */
.aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-left: 6px solid #c92a56;
	&.color-1 {
		background-color: #323847;
	}
	&.color-2 {
		background-color: #632d46;
	}
	&.color-3 {
		background-color: #585858;
	}
}

.aside_title {
	margin-top: 0;
	margin-bottom: 0;
	flex: 0 0 auto;
	width: 100%;
	text-align: center;
	padding: {
		top: 25px;
		bottom: 25px;
		left: 6%;
		right: 6%;
	}
	font-size: 24px;
	color: #ffffff;
}

.aside_content {
	flex: 0 0 auto;
	width: 100%;
	padding: {
		top: 30px;
		bottom: 30px;
		left: $mainColumn;
		right: $mainColumn;
	}
	& .tbl {
		width: 100%;
	}
	color: #ffffff;
	.color-1 & {
		background-color: #232b36;
	}
	.color-2 & {
		background-color: #4f2438;
	}
	.color-3 & {
		background-color: #464646;
	}
	& p.txt {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		color: #ffffff;
	}
}
