/* STORYLINE */

div.fig-centerSL {
	background-color: #fafafa;
	width: 100%;
	clear: both;
	margin: auto;
	max-width: 760px;
	float: none;
	padding: 0em;
	min-width: 250px;
	color: #999999;
}

p.sl-caption {
	margin-top: 1em;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2em;
}

p.media {
	line-height: 1.2em;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0.6em;
	text-align: left;
	color: #000;
	display: none;
}
