@media only screen and (max-width: 750px) {
  /* HEADERS */
  h3.h3 {
    margin-left: 8%;
    margin-right: 8%;
  }
  /* TEXT */
  p.txt,
  .key-point,
  .section-lead p.intro {
    margin-left: 3%;
    margin-right: 3%;
  }
  p.ext {
    margin-left: 6%;
    margin-right: 6%;
  }
  /* CHAPTER OPENER */
  .co_header {
    padding: 82px 6%;
  }
  .quote_text {
    padding: 18px 4% 0px;
  }
  .co_intro {
    flex-direction: column;
    padding: 32px 8%;
  }
  .co_text {
    width: 100%;
  }
  .co_aside {
    width: 100%;
    padding: 5% 10%;
  }
  /* SECTIONS */
  .section-header h1 {
    text-align: center;
    flex-direction: column;
  }
  .section-header .sec_number {
    margin-right: auto;
    margin-left: auto;
  }
  .section-lead p {
    width: 90%;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
  /* PART */
  .parts_header {
    flex-direction: column;
    padding: 25px 8%;
  }
  .header_number {
    margin-right: auto;
    margin-left: auto;
    width: 110px;
  }
  .header_title {
    font-size: 38px;
    line-height: 48px;
    width: 90%;
    max-width: none;
    text-align: center;
  }
  .part {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
  }
  .part .part_img {
    width: 100%;
  }
  .part .part_text {
    width: 100%;
  }
  .part .part_text .part_title {
    text-align: center;
  }
  .part:nth-of-type(odd) {
    flex-direction: column;
  }
  .part:nth-of-type(odd):after {
    border-width: 0;
    border-color: transparent transparent transparent transparent;
  }
  .part:nth-of-type(even) {
    flex-direction: column;
  }
  .part:nth-of-type(even):after {
    border-width: 0 0 0 0;
    border-color: transparent transparent transparent transparent;
  }
  .part_title {
    color: #c92b56;
    font-family: RobotoBold;
    font-size: 1.5rem;
  }
  /* LISTS */
  ol,
  ul {
    padding-left: 8%;
    padding-right: 8%;
  }
  /* FIGURES */
  .figure {
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .figure img {
    width: 100%;
  }
  .figure figcaption {
    width: 100%;
    margin-bottom: 40px;
  }
  .figure-fullwidth figcaption {
    width: 100%;
  }
  /* PHOTOS */
  .photo-landscape,
  .photo-portrait {
    flex-direction: column-reverse;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .photo-landscape figcaption,
  .photo-portrait figcaption {
    width: 100%;
  }
  .photo-landscape img {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
  .photo-portrait img {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
  /* AUTHOR PHOTOS */
  .photo-author {
    width: 85%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  /* TABLES */
  .table_container {
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .tbl {
    width: 100%;
  }
  .tbl_name {
    width: 100%;
  }
  /* ASIDE NOV 25 2020 */
  .aside {
    width: 100;
    margin-right: auto;
    margin-left: auto;
  }
  .aside_title {
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
  }
  .aside_content {
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
  }
  .aside_content .table_container {
    overflow-x: scroll;
  }
  .aside_content .tbl {
    width: auto;
  }
  /* VIDEO */
  .figure-video {
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }
  .figure-video figcaption {
    width: 100%;
    margin-bottom: 40px;
  }
  .figure-video iframe {
    margin-right: auto;
    margin-left: auto;
  }
}
