/* EDU 645 CSS refactor 1-2-21 */
/* FONTS */
@font-face {
  font-family: RobotoBold;
  font-weight: bold;
  font-style: normal;
  src: url(../fonts/robotoslab_bold.otf);
}

@font-face {
  font-family: RobotoRegular;
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/robotoslab_regular.otf);
}

@font-face {
  font-family: RobotoLight;
  font-weight: lighter;
  font-style: normal;
  src: url(../fonts/robotoslab_light.otf);
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

section,
article,
aside,
figure,
figcaption {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
article,
aside,
td,
th {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  color: black;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

small {
  font-size: .9em;
}

/* BASE */
body {
  margin-right: auto;
  margin-left: auto;
  max-width: 964px;
}

/* PAGE */
.page {
  background-color: #fafafa;
  clear: both;
}

.section:nth-of-type(even) {
  background-color: #fefefe;
}

/* HEADERS */
/* TEXT */
/* CHAPTER OPENER */
/* SECTIONS */
/* PART */
/* LISTS */
/* FIGURES */
/* PHOTOS */
/* TABLES */
/* END OF CHAPTER */
/* ARTICLE */
/* ASIDE - NOV 24 2020 */
/* EXPAND COLLAPSE */
/* TIPBOX */
/* STORYLINE */
/* VIDEO */
/* UTILITY CLASSES*/
.bg-white {
  background-color: #fefefe;
}

.bg-light {
  background-color: #fafafa;
}
