h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
article,
aside,
td,
th, ul,
ol {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

/* EDU 645 CSS refactor 1-2-21 */
/* FONTS */
@font-face {
  font-family: RobotoBold;
  font-weight: bold;
  font-style: normal;
  src: url(../fonts/robotoslab_bold.otf);
}

@font-face {
  font-family: RobotoRegular;
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/robotoslab_regular.otf);
}

@font-face {
  font-family: RobotoLight;
  font-weight: lighter;
  font-style: normal;
  src: url(../fonts/robotoslab_light.otf);
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

section,
article,
aside,
figure,
figcaption {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
article,
aside,
td,
th {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

small {
  font-size: .9em;
}

/* BASE */
body {
  margin-right: auto;
  margin-left: auto;
  max-width: 964px;
}

/* PAGE */
.page {
  background-color: #fafafa;
  clear: both;
}

.section:nth-of-type(even) {
  background-color: #fefefe;
}

/* HEADERS */
/* TEXT */
/* CHAPTER OPENER */
/* SECTIONS */
/* PART */
/* LISTS */
/* FIGURES */
/* PHOTOS */
/* TABLES */
/* END OF CHAPTER */
/* ARTICLE */
.article {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 16%;
  padding-left: 16%;
  background-color: #632d46;
  color: white;
  border-left: 6px solid #c92a56;
}

.article__header {
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  color: inherit;
  background-color: #4f2438;
}

.article__title {
  display: inline-block;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.article__subtitle {
  display: inline-block;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.article__content {
  background-color: #4f2438;
  padding-top: 0;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.article__tx {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 1.25em;
  color: inherit;
}

.article__ul {
  margin-left: 1.25em;
  margin-right: 1.25em;
  color: inherit;
  padding-left: 25px;
}

.article__ul li {
  list-style-type: disc;
  margin-bottom: 0.75em;
  color: inherit;
}

/* ASIDE - NOV 24 2020 */
/* EXPAND COLLAPSE */
/* TIPBOX */
/* STORYLINE */
/* VIDEO */
/* UTILITY CLASSES*/
.bg-white {
  background-color: #fefefe;
}

.bg-light {
  background-color: #fafafa;
}
